@import'../../variables.scss';

.sidebar {
    background-color: $main-color;
    width: 30%;
    max-width: 250px;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;

    h2 {
        color: $text-color;
        font-size: 1.5rem;
        font-weight: normal;
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        padding-left: 1rem;
        text-align: left;
    }

    .sidebar_header {
        border-bottom: 1px solid $text-color;

        h2 {
            margin-bottom: 1rem;
        }

        .sidebar_topbar {
            position: relative;
        }
    }

    .sidebar_list {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
        margin-top: 1rem;
        padding-left: 1rem;
        overflow-y: auto;

        li {
            margin: 0.5rem;
            padding: 0.5rem;
            font-size: 1rem;
            color: $text-color;
            font-weight: normal;
            text-align: left;
            border-radius: 0.5rem;

            display: flex;
            flex-direction: column;
            position: relative;

            div {
                border-radius: 0.5rem;
            }

            div:hover,
            &.sidebar_list_file:hover {
                cursor: pointer;
                background-color: $hover;
            }

            // make the input text look like a normal text
            input {
                background-color: transparent;
                border: none;
                color: $text-color;
                font-size: 1rem;
                font-weight: normal;
                margin: 0;
                padding: 0.5rem;
                text-align: left;
                width: 100%;
                cursor: unset;

                &:not(:read-only) {
                    cursor: text;
                }

                &:focus {
                    outline: none;
                }
            }

            &.sidebar_list_folder {

                font-weight: bold;

                .sidebar_list_folder_children {
                    flex: none;
                    border-left: 1px solid $text-color;
                    margin-left: 10px;
                }

                .sidebar_list_folder_name {
                    display: flex;

                    input {
                        font-weight: bold;
                    }
                }

                &.sidebar_list_folder_expanded {

                    .children {
                        display: block;
                    }

                    .sidebar_list_folder_name::before {
                        content: '-';
                        margin: 0.4rem
                    }
                }

                &.sidebar_list_folder_collapsed {

                    .sidebar_list_folder_children {
                        display: none;
                    }

                    .sidebar_list_folder_name::before {
                        content: '+';
                        margin: 0.4rem;
                    }
                }
            }
        }
    }
}
