@import '../../../variables';

.editor_toolbar_button {
    border: 0;
    background: none;
    border-radius: 10px;
    padding: 8px;
    margin: 10px 2px;
    cursor: pointer;
    color: $text-color;

    &:hover {
        background-color: $editor_toolbar_button_hover_color;
    }

    &.editor_toolbar_button_active {
        background-color: $editor_toolbar_button_active_color;
        font-weight: bold;
    }
}
