@import '../../variables';

.editor_container {
  // margin: 20px auto 20px auto;
  border-radius: 2px;
  color: $editor_text_color;
  position: relative;
  font-weight: 400;
  text-align: left;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  flex-grow: 1;
  // height: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-x:auto;

  .buttonGetData{
    position: absolute;
    bottom: 0;
  }

  .editor_inner {
    position: relative;
    // height: 100%;
    flex-grow: 2;
    overflow-y: auto;

    .editor_inner_input {
      min-height: 150px;
      resize: none;
      position: relative;
      tab-size: 1;
      outline: 0;
      padding: 15px 10px;
      height: 100%;
    }

    .editor_inner_placeholder {
      top: 15px;
      left: 10px;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      user-select: none;
      display: inline-block;
      pointer-events: none;
    }

    .editor_inner_paragraph {
      position: relative;
    }

    .editor_inner_code {
      // background-color: $editor_inner_code_background_color;
      opacity: 1;
      font-family: Menlo, Consolas, Monaco, monospace;
      display: block;
      padding: 8px 8px 8px 52px;
      line-height: 1.53;
      // font-size: 13px;
      // margin: 0;
      // margin-top: 8px;
      // margin-bottom: 8px;
      tab-size: 2;
      /* white-space: pre; */
      overflow-x: auto;
      position: relative;

      border-radius: 10px;

      &::before {
        content: attr(data-gutter);
        position: absolute;
        background-color: $editor_inner_code_gutter_background_color;
        left: 0;
        top: 0;
        border-right: 1px solid $editor_inner_code_gutter_border_color;
        padding: 8px;
        color: $editor_inner_code_gutter_color;
        white-space: pre-wrap;
        text-align: right;
        min-width: 25px;
      }

      .editor_inner_codeHighlight_tokenComment {
        color: $editor_codeHighlight_tokenComment_color;
      }
      .editor_inner_codeHighlight_tokenPunctuation {
        color: $editor_codeHighlight_tokenPunctuation_color;
      }
      .editor_inner_codeHighlight_tokenProperty {
        color: $editor_codeHighlight_tokenProperty_color;
      }
      .editor_inner_codeHighlight_tokenSelector {
        color: $editor_codeHighlight_tokenSelector_color;
      }
      .editor_inner_codeHighlight_tokenOperator {
        color: $editor_codeHighlight_tokenOperator_color;
      }
      .editor_inner_codeHighlight_tokenAttr {
        color: $editor_codeHighlight_tokenAttr_color;
      }
      .editor_inner_codeHighlight_tokenVariable {
        color: $editor_codeHighlight_tokenVariable_color;
      }
      .editor_inner_codeHighlight_tokenFunction {
        color: $editor_codeHighlight_tokenFunction_color;
      }
    }

    .editor_inner_link {

      &:hover {
        cursor: pointer;
      }
    }

    .editor_inner_underline{
      text-decoration: underline;
    }
    .editor_inner_bold{
      font-weight: bold;
    }
    .editor_inner_italic{
      font-style: italic;
    }
  }
}

.inactive{
  display: none;
}
