@import '../../variables';

.editors_contenair{
  position: relative;
  flex-grow: 1;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .tabs_menu{
    height: 40px;
    // background-color: red;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 3px;

    li{
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 5px;
      width: 140px;
      background-color: $main_color;
      border-top-right-radius: 20px;
      cursor: pointer;

      &.tab_active{
        background-color: $sidebar_list_note_opened_background_color;
      }

    }
  }
}