@import '../../variables';

.editors_contenair{
  position: relative;
  flex-grow: 1;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;

  .tabs_menu{
    height: 40px;
    // background-color: red;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
    align-items: flex-end;
    gap: 3px;
    overflow-x: auto;
    position: relative;
    flex-shrink: 0;

    &:hover::-webkit-scrollbar-thumb{
      visibility: visible;
        cursor: pointer;
    }
    
    &::-webkit-scrollbar{
      height: 5px;
      background-color: $main-color;
      z-index: 5;
    }
    
    &::-webkit-scrollbar-thumb{
      background-color: $thumb_color;
      visibility: hidden;
      // position: fixed;
      // bottom: -100px;
      z-index: 6;

      &:hover{
        visibility: visible;
        cursor: pointer;
      }
    }

    li{
      position: relative;
      display: flex;
      align-items:center;
      justify-content: start;
      padding: 5px;
      width: 140px;
      background-color: $main_color;
      border-top-right-radius: 20px;
      flex-shrink: 0;
      height: 40px !important;
      cursor: pointer;

      p{
        text-overflow: ellipsis;
        overflow: hidden;
        // height: 100%;
        margin: 0;
        padding: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        max-width: 100px;
        white-space: nowrap;
        &.p_removed{
          text-decoration: line-through red;
          text-decoration-thickness: 3px;
        }
      }

      &.tab_active{
        background-color: $sidebar_list_note_opened_background_color;
      }

      svg{
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;

        &:hover{
          background-color: $hover;
        }
      }
    }
  }
}