.editor_container {
    margin: 20px auto 20px auto;
    border-radius: 2px;
    max-width: 600px;
    color: #000;
    position: relative;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .editor_inner {
      background: #fff;
      position: relative;

      .editor_inner_input {
        min-height: 150px;
        resize: none;
        font-size: 15px;
        caret-color: rgb(5, 5, 5);
        position: relative;
        tab-size: 1;
        outline: 0;
        padding: 15px 10px;
        caret-color: #444;
      }

      .editor_inner_placeholder {
        color: #999;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        top: 15px;
        left: 10px;
        font-size: 15px;
        user-select: none;
        display: inline-block;
        pointer-events: none;
      }

      .editor_inner_paragraph {
        margin: 0;
        margin-bottom: 8px;
        position: relative;

        .editor_inner_text_bold {
          font-weight: bold;
        }

        .editor_inner_text_italic {
          font-style: italic;
        }

        .editor_inner_text_underline {
          text-decoration: underline;
        }
      }
    }
  }
