@import '../../../variables.scss';

.formContenairTheme{
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    overflow-y: hidden;
    background-color: $main-color;
    border-right:solid 2px white;

    form{
        position: absolute;
        left:0;
        right:0;
        bottom: 0;
        top: $title_h1_theme_generator;
        overflow-y: auto;
        .section_Form{
            h3{
                background-color: $dropdown_background_color;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                &:hover{
                    background-color: #424040;
                }
            }

            .table_contenair{
                overflow-y: hidden;
                table{
                    margin: 0;
                    padding: 0;
                    background-color: $document_back_color;
                    width: 100%;
    
                    td{
                        width: 50%;
                    }
                }
            }

        }
    }

    .form_SelectTheme{
        h4{
            font-size: 17px;
            text-decoration: underline;
        }
        button{
            min-width: 100px;
            background-color: $button_color;
            border-radius: 10px;
            border: solid 1px white;
            padding: 5px;
            font-weight: bold;
            &:hover{
                transform: scale(1.1);
            }
        }
        .newThemeContenair{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            position: relative;

            .errorP{
                color: red;
                position: absolute;
                bottom: -50px;
                margin: 0;
                padding: 0;
            }

            select, input {
                width: 200px;
            }

        }
    }
    
}