@import '../../../variables.scss';

.formContenairTheme{
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    overflow-y: auto;
    background-color: $main-color;
    border-right:solid 2px white;
    
}