@import './variables';

.dropdown {
    position: absolute;
    top: 3rem;
    z-index: 1;

    background-color: $top_menu_bar;
    border-radius: 0.5rem;
    padding: 0.5rem;

    &.hidden {
        display: none;
    }

    li {
        list-style: none;
        font-size: 0.8rem;
        padding: 0.5rem 0;
        display: flex;

        &:hover {
            background-color: $main-color;
            cursor: pointer;
        }

        svg {
            margin-left: 0.5rem;
        }
    }
}
