$document_back_color : #1e1e1e;
$main_color : #2c2c2c;
$top_menu_bar: #363636;
$hover: #363636;
$text_color: #fff;
$secondary_text_color: #d1afff;
$button_color: #8400ff;
$disabled_button_color: #e2e2e270;

$dropdown_background_color: #363636;

$drag_image_background_color: #4b0091;

//MENU BAR
$height_menubar: 40px;

//SIDE_BAR
$heigt_sidebar: calc(100% - $height_menubar);

//EDITOR TOOLBAR
$editor_toolbar_divider_color: #eee;
$editor_toolbar_button_hover_color: #eee;
$editor_toolbar_button_active_color: rgba(223, 232, 250, 0.3);
$editor_toolbar_selector_hover_color: #eee;

$editor_toolbar_background_color: #fff;
