$document_back_color : #1e1e1e;
$main_color : #2c2c2c;
$top_menu_bar: #363636;
$hover: #363636;
$text_color: #fff;
$secondary_text_color: #d1afff;
$button_color: #8400ff;
$disabled_button_color: #e2e2e270;

$dropdown_background_color: #363636;
