$document_back_color : #1e1e1e;
$main_color : #2c2c2c;
$top_menu_bar: #363636;
$hover: #363636;
$text_color: #fff;
$secondary_text_color: #d1afff;
$button_color: #8400ff;
$disabled_button_color: #e2e2e270;

$dropdown_background_color: #363636;

$drag_image_background_color: #4b0091;

//MENU BAR
$height_menubar: 40px;

//SIDE_BAR
$heigt_sidebar: calc(100% - $height_menubar);
$sidebar_list_note_opened_background_color: #777777;


//EDITOR
$editor_text_color: $text_color;
$editor_inner_background_color: #1e1e1e;
$editor_inner_input_caret_color: $text_color;
$editor_inner_placeholder_color: #999;
$editor_inner_link_color: rgb(46 134 255);

//EDITOR QUOTE BLOCK
$editor_inner_quote_color: rgb(193, 194, 196);
$editor_inner_quote_border_color: rgb(206, 208, 212);

//EDITOR CODE BLOCK
$editor_inner_code_background_color: rgba(165, 165, 165, 0.46);
$editor_inner_code_gutter_background_color: #3c3c3c;
$editor_inner_code_gutter_border_color: #ddd;
$editor_inner_code_gutter_color: $text_color;

//CODE HIGHLIGHT
$editor_codeHighlight_tokenComment_color: #a6bbd1;
$editor_codeHighlight_tokenPunctuation_color: #cfcfcf;
$editor_codeHighlight_tokenProperty_color: #ff008e;
$editor_codeHighlight_tokenSelector_color: #00c110;
$editor_codeHighlight_tokenOperator_color: #ffb966;
$editor_codeHighlight_tokenAttr_color: #00b3ff;
$editor_codeHighlight_tokenVariable_color: #e90;
$editor_codeHighlight_tokenFunction_color: #ff5578;

//EDITOR TOOLBAR
$editor_toolbar_divider_color: $text_color;
$editor_toolbar_button_hover_color: $hover;
$editor_toolbar_button_active_color: rgba(223, 232, 250, 0.3);
$editor_toolbar_selector_hover_color: $hover;
$editor_toolbar_background_color: $main_color;
